@model BussinessObject.Category

@{
    ViewData["Title"] = "Category Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Category Details</h3>
                    <div class="card-tools">
                        <a asp-action="Index" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Back to List
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CategoryId)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CategoryId)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CategoryName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CategoryName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Status)
                        </dt>
                        <dd class="col-sm-10">
                            <span class="badge @(Model.Status == "Active" ? "bg-success" : "bg-secondary")">
                                @Html.DisplayFor(model => model.Status)
                            </span>
                        </dd>
                    </dl>
                </div>
                <div class="card-footer">
                    <a asp-action="Edit" asp-route-id="@Model.CategoryId" class="btn btn-warning">
                        <i class="fas fa-edit"></i> Edit
                    </a>
                    <a asp-action="Delete" asp-route-id="@Model.CategoryId" class="btn btn-danger">
                        <i class="fas fa-trash"></i> Delete
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
